.red {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: red;
}

.green {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: rgb(50, 226, 50);
}

th {
    cursor: pointer;
}